{% extends "sys/base.html" %}
{% block scripts %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.5/nv.d3.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.5/nv.d3.min.js"></script>

    <style>
        text {
            font: 12px sans-serif;
        }
        svg {
            display: block;
        }
        #chart, svg {
            margin: 0px;
            padding: 0px;
            height: 100%;
            min-height: 550px;
            width: 100%;
        }
        html, body {
            height: 100%;
        }
        .chart_container {
            background-color: #fff8dc;
        }
    </style>
        <script>
// Maintian an instance of the chart
var chart;

// Maintain an Instance of the SVG selection with its data
var chartData;
var remote_data;
var formatted_data = [];

var format = d3.time.format.utc.multi([
                      ["%H:%M:%S", function(d) { return d.getSeconds(); }],
                      ["%H:%M", function(d) { return d.getMinutes(); }],
                      ["%d/%m", function(d) { return d.getDay(); }],
                      ["%d/%m%Y", function() { return true; }]
                      ]);

function add_chart(){
  nv.addGraph(function() {
    chart = nv.models.lineWithFocusChart();
    //chart.brushExtent([50,70]);
    chart.xAxis.tickFormat(function(d) {
        // Will Return the date, as "%m/%d/%Y"(08/06/13)
        return format(new Date(d))
      }).axisLabel("Time");
    chart.x2Axis.tickFormat(function(d) {
      // Will Return the date, as "%m/%d/%Y"(08/06/13)
      return d3.time.format.utc("%m/%d/%y %X")(new Date(d))
    });
    chart.yTickFormat(d3.format(',.2f'));
    chart.useInteractiveGuideline(true);

    console.log('formatted_data' + formatted_data);
    chartData = d3.select('#chart svg')
                  .datum(formatted_data)
                  .call(chart);
    chartData.transition().duration(500).call(chart);
    nv.utils.windowResize(chart.update);

    return chart;
  });
}

function update_chart(){
  // getFormattedData();

  // Update the SVG with the new data and call chart
  chartData.datum(formatted_data).transition().duration(500).call(chart);
  nv.utils.windowResize(chart.update);
}

function getFormattedData(){
  if(update_data() == false){
      console.log('failed to update data');
      showAlert("An error happened when updating data", 'Error');
  }
  prepare_data();
}

function prepare_data(){
  // If we receive good data from server, prepare it as nv expects
  var names = remote_data['result'].fields;
  var values = remote_data['result'].values;

  for (var i=0; i < names.length; i++){
    formatted_data[i] = {area: false,
                key: names[i],
                SeriesIndex: i,
                values:[],
                }
  }
  for (var i=0; i < values.length; i++){
    for (var sensor = 0; sensor < values[i].values.length; sensor++){
      formatted_data[sensor].values.push({series: sensor, x: values[i].utc_ts, y: values[i].values[sensor]});
    }
  }
  console.log(formatted_data);
}

function update_data(){
  subset =
  data = {event_id: '{{ data['event_id'] }}',
          max_items: 1000,
          subset: $('#subset').prop('checked')};
  $.ajax({type: "POST",
        url: "/api/{{ module.name }}/get_data",
        contentType: "application/json; charset=UTF-8",
        data: JSON.stringify(data),
        dataType: "json",
        success:function(result){
            console.log(result);
            if (result['status'] == 'Error'){
                showAlert(result['result'], 'Error');
            }else{
                remote_data = result;
                prepare_data();
                if (chart){
                  update_chart();
                }else{
                  add_chart();
                }
            }
        },
        error:function(result){
            console.log(result);
            showAlert("An error happened", 'Error');
        },
    });
};

$(document).ready(function(){
  $("#update_data").click(function(e){
      e.preventDefault();
      update_data();
    });
  });

update_data();
var intervalID = setInterval(update_data, 5000);

// var NUM_OF_SAMPLES = 1000;
// /* Inspired by Lee Byron's test data generator. */
//
// function stream_layers(n, m, o) {
//   if (arguments.length < 3) o = 0;
//   function bump(a) {
//     var x = 1 / (.1 + Math.random()),
//         y = 2 * Math.random() - .5,
//         z = 10 / (.1 + Math.random());
//     for (var i = 0; i < m; i++) {
//       var w = (i / m - y) * z;
//       a[i] += x * Math.exp(-w * w);
//     }
//   }
//   return d3.range(n).map(function() {
//       var a = [], i;
//       for (i = 0; i < m; i++) a[i] = o + o * Math.random();
//       for (i = 0; i < 5; i++) bump(a);
//       return a.map(stream_index);
//     });
// }
//
// /* Another layer generator using gamma distributions. */
// function stream_waves(n, m) {
//   return d3.range(n).map(function(i) {
//     return d3.range(m).map(function(j) {
//         var x = 20 * j / m - i / 3;
//         return 2 * x * Math.exp(-.5 * x);
//       }).map(stream_index);
//     });
// }
//
// var now = new Date();
// var start_ts = now.getTime()-(NUM_OF_SAMPLES*1000);
// console.log(now);
// console.log(now.getTime())
//
// function stream_index(d, i) {
//   return {x: start_ts + i*1000, y: Math.max(0, d)};
// }
//
// var format = d3.time.format.utc.multi([
//                       ["%H:%M:%S", function(d) { return d.getSeconds(); }],
//                       ["%H:%M", function(d) { return d.getMinutes(); }],
//                       ["%d/%m", function(d) { return d.getDay(); }],
//                       ["%d/%m%Y", function() { return true; }]
//                       ]);
// var chartData;
// var chart;
// nv.addGraph(function() {
//     chart = nv.models.lineWithFocusChart();
//     //chart.brushExtent([50,70]);
//     chart.xAxis.tickFormat(function(d) {
//         // Will Return the date, as "%m/%d/%Y"(08/06/13)
//         return format(new Date(d))
//       }).axisLabel("Time");
//     chart.x2Axis.tickFormat(function(d) {
//       // Will Return the date, as "%m/%d/%Y"(08/06/13)
//       return d3.time.format.utc("%m/%d/%y %X")(new Date(d))
//     });
//     chart.yTickFormat(d3.format(',.2f'));
//     chart.useInteractiveGuideline(true);
//     var a = testData();
//     console.log(a);
//     chartData = d3.select('#chart svg')
//         .datum(a)
//         .call(chart);
//     nv.utils.windowResize(chart.update);
//     return chart;
// });
//
// function testData() {
//     return stream_layers(3,NUM_OF_SAMPLES,.1).map(function(data, i) {
//         return {
//             key: 'Stream' + i,
//             area: i === 1,
//             values: data
//         };
//     });
// }
//
// $(document).ready(function(){
//   $("#update_data").click(function(e){
//       e.preventDefault();
//       data = testData();
//       chartData.datum(data).transition().duration(500).call(chart);
//       nv.utils.windowResize(chart.update);
//
//     });
//   });


</script>

{% endblock %}
{% block main %}
    <h1 class="hidden-xs-down">Logger charts</h1>

    <div class="container">
        <div class="row">
            <div class="col-12"><a class="btn btn-primary" role="button" href="{{ url_for('.index') }}">logger main</a> - <a class="btn btn-primary" role="button" href="{{ url_for('.events_list') }}">register events</a></div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" id="subset" checked>
                    Return a subset of the values (last values if unchecked)
                </label>
            </div>
        </div>
        <div class="row">
            <div class="chart_container">
                <div id="chart" class='with-3d-shadow with-transitions'>
                    <svg></svg>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-primary btn-lg" id="update_data">Update Data</button>
        </div>

    </div>
{% endblock %}
